/*  your css code here. If applicable */
table{
	border:1px solid black;
	height:50px;
	padding:1px;
	border-spacing:1px
}
tr{
	border:1px solid black;
	height:50px;
}
td{
	border:1px solid black;
	width:100px;
}
#row-1{
	background-color:green;
}
#row-2{
	border:none;
}

#row-3{
	background-color:blue;
}

#table-3{
	border-collapse:collapse;
}
#table-2{
	margin-top:10px;
}